.title{
    font-family: cursive, fantasy;
    margin-top: 70px;
    margin-bottom: 35px;
    font-size: 80px;
}
body {
    font-family: Arial;
    background-image: url('background.jpg'); /* Path to your image */
    color: white;
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed; /* Optional: makes the background fixed during scrolling */
    
}
.navbar {
    overflow: hidden;
    background-color: #382a3e;
    opacity: 75%;
    height: 80px;
}
    
.navbar a {
    float: left;
    display: block;
    color: white;
    background-color: #382a3e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    color: white;
    background-color: rgb(142, 112, 218)
    border-radius: 10px;
}

.container {
    padding: 20px;
}


.drop-container.dragover {
    background-color: rgb(142, 112, 218) /* Change color when item is hovering over */
}

    .next-button {
        text-align: center;
        margin-top: 20px;
    }
    .next-button a {
        padding: 10px 20px;
        background-color: #6c3583;
        color: white;
        text-decoration: none;
    }
    .next-button a:hover {
        background-color: #ddd;
        color: black;
    }

button {
  padding: 10px;
  margin-top: 1px;
  cursor: pointer;
  background-color: #6c3583;
  color: white;
  font-size: medium;
  border: none;
  border-radius: 5px;
}

button:hover {
    background-color: #ddd;
    color: black;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #6c3583;
  border: none;
  border-radius: 15px;
}

.button:hover {background-color: rgb(142, 112, 218)}

.container-center {
    
    margin-top: 35px;
     /* Enables flexbox */
    align-items: center; /* Centers vertically */
   /* Optional: Sets the height of the container to 100% of the viewport height */
    text-align: center;
    /* Ensures that the text within the container is centered, useful for inline or text elements */
}



h1{
    font-family: cursive;
    font-size: 55px;
}

/* grid */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Creates three columns of equal size */
    grid-gap: 10px; /* Spacing between columns */
    padding: 10px;
}

.grid-item {
    background-color: #f0f0f0; /* Light grey background for each column */
    border: 1px solid #ccc; /* Grey border */
    padding: 20px;
    text-align: center;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr; /* Stack the columns on smaller screens */
    }
}

.btn-newpage{
    background:rgb(183, 160, 204);
}

.instr{
    color:rgb(183, 160, 204) ;
    text-decoration: ;
}

.rhythm-image{
    height: 100px;
}

.learn-more{
    background-color: rgb(164, 150, 191);
}

.item {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: black;
    background: white; /* Default background */
}

.item.active {
    color: white;
    background-color: rgb(87, 50, 103); /* Highlight color */
    border-radius: 10px;
}

.low-opacity{
    background-color: #382a3e;
    opacity: 70%;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 70px;
    margin-left: 80px;
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 30px;
}
