{% extends "layout.html" %}

{% block content %}

<style>
    .container.low-opacity {
        margin: auto;
    /* Increase the width to extend more to the right */
        width: 140%; /* Adjust this value as needed */
    }

ß</style>
<div class="container low-opacity">

    <h1>What is beat, tempo, and rhythm?</h1>
    <p>Click each button below to learn about these three terms.</p>
    <div class="container">
        <button id="button1">Beat</button>
        <button id="button2">Tempo</button>
        <button id="button3">Rhythm</button>
    </div>
    <p id="display-area"></p>
    
    <br>
<br>
<br>
<div class="row">
    <div class="col-md-6">

    <div class="col-md-6">
        <div class="next-button">
            <a href="duration-and-symbols" id="next-button">Next section</a>
        </div>
    </div>
</div>
</div>

<script>
    var tempoURL = "{{ url_for('common') }}";
</script>
<script src="{{ url_for('static', filename='js/learn.js') }}"></script>


{% endblock %}

