{% extends 'layout.html' %}

{% block content %}
  <head>
  <script>
  function playNoteSound(note) {
    var audio = new Audio(note + '.mp3'); // Replace with your actual audio file paths
    audio.play();
  }
  </script>
  </head>
  <body>

  <div class="content">
    <h2>Note Symbols</h2>
    <p>Some common note symbols and their durations are shown here.</p>
    <p>To make sense of them, think about dividing a measure into halves, quarters, eighths, and sixteenths.
        <br>
        Below, click the buttons to hear what each note sounds like.
    </p>
    <br>
    <!-- Visualization and play buttons here -->
    <div class="row">
        <div class="col-md-">
            <div>
                <button style="margin-top: 5px; margin-left: 16px" onclick="playNoteSound('whole-note')">Play Whole Note</button>
            </div>
            <br>
            <div>
                <button style="margin-left: 28px" onclick="playNoteSound('whole-note')">Play Half Note</button>
            </div>
            <br>
            <div>
                <button style="margin-left: 7px" onclick="playNoteSound('whole-note')">Play Quarter Note</button>
            </div>
            <br>
            <div>
                <button style="margin-left: 17px" onclick="playNoteSound('whole-note')">Play Eighth Note</button>
            </div>
            <br>
            <div>
                <button onclick="playNoteSound('whole-note')">Play Sixteenth Note</button>
            </div>
      
        </div>
        <div class="col-md-6">
            <img src="/static/musical_notes.png" alt="musical notes chart" width="70%">
        </div>
    </div>
    <br>
    <br>

    
    <br>
    <!-- Navigation Buttons -->
  </div>
  <div class="row">
    <div class="col-md-6">
        <div class="next-button">
            <a href="beat-and-tempo" id="next-button">Previous section</a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="next-button">
            <a href="duration-and-symbols-pg2" id="next-button">Next page</a>
        </div>
    </div>
</div>

  </body>
{% endblock %}
