{% extends 'layout.html' %}

{% block content %}
  <head>
  <script>
  function playNoteSound(note) {
    var audio = new Audio(note + '.mp3'); // Replace with your actual audio file paths
    audio.play();
  }
  </script>
  </head>
  <body>

  <div class="content">
    <h2>Note Symbols</h2>
    <p>Some common note symbols and their durations are shown here.</p>
    <p>To make sense of them, think about dividing a measure into halves, quarters, eighths, and sixteenths.
        <br>
        Below, click the buttons to hear what each note sounds like.
    </p>
    <br>
    <!-- Visualization and play buttons here -->
    <div class="row">
        <div class="col-md-6">
            <img src="/static/musical_notes.jpg" alt="musical notes chart" width="90%">
    
      
        </div>
    
        <div class="col-md-6">
            <div>
                <button onclick="playNoteSound('whole-note')">Play Whole Note</button>
            </div>
            <br>
            <div>
                <button onclick="playNoteSound('whole-note')">Play Half Note</button>
            </div>
            <br>
            <div>
                <button onclick="playNoteSound('whole-note')">Play Quarter Note</button>
            </div>
            <br>
            <div>
                <button onclick="playNoteSound('whole-note')">Play Eighth Note</button>
            </div>
            <br>
            <div>
                <button onclick="playNoteSound('whole-note')">Play Sixteenth Note</button>
            </div>
            
            
        </div>
    </div>
    
    <br>
    <!-- Navigation Buttons -->
    <row>
        <col-md-4>
            <a href="beat-and-tempo" class="button">Previous section</a>
        </col-md-4>
        <col-md-4>
            <a href="duration-and-symbols-pg2" class="button">Next page</a>
        </col-md-4>
    </row>
  </div>

  </body>
{% endblock %}
