{% extends 'layout.html' %}

{% block content %}
  <head>
  <script>
  
  </script>
  </head>
  <body>

  <div class="content">
    <h2>Note Symbols</h2>
    
    <p>Some notes are meant to be played successively, and are grouped. This leads to new, but equivalent notations:
    </p>
    <br>
    <img src="/static/splitnotes.png" alt="splitting music notes" width="70%">
    <br>
    <!-- Navigation Buttons -->
    <row>
        <col-md-4>
            <a href="duration-and-symbols" class="button">Back to previous page</a>
        </col-md-4>
        <col-md-4>
            <a href="duration-and-symbols-pg3" class="button">Next page</a>
        </col-md-4>
    </row>
  </div>

  </body>
{% endblock %}
