{% extends 'layout.html' %}

{% block content %}
  <head>
  <script>
  
  </script>
  </head>
  <body>

  <div class="content low-opacity">
    <br>
  <div class="content">
    <h1>Note Symbols</h1>
    
    
    <p>Just as there are ways to write what must be played, there are also ways to write moments of silence ("rests"). 
        Below are music notes with their rest equivalents.
    </p>
    <br>
    <img src="/static/rests.gif" alt="rests">
    <br>
    <br>
    <br>
    <!-- Navigation Buttons -->
    <div class="row">
      <div class="col-md-6">
          <div class="next-button">
              <a href="duration-and-symbols-pg2" id="next-button">Back to previous page</a>
          </div>
      </div>
      <div class="col-md-6">
          <div class="next-button">
              <a href="subdividing" id="next-button">Next section</a>
          </div>
      </div>
  </div>
  </div>

  </body>
{% endblock %}