{% extends 'layout.html' %}

{% block content %}
  <head>
  <script>
  
  </script>
  </head>
  <body>

  <div class="content">
    <h2>Note Symbols</h2>
    
    
    <p>Just as there are ways to write what must be played, there are also ways to write moments of silence ("rests"). 
        Below are music notes with their rest equivalents.
    </p>
    <br>
    <img src="/static/rests.gif" alt="rests">
    <br>
    <br>
    <!-- Navigation Buttons -->
    <row>
        <col-md-4>
            <a href="duration-and-symbols-pg2" class="button">Back to previous page</a>
        </col-md-4>
        <col-md-4>
            <a href="subdividing" class="button">Next section</a>
        </col-md-4>
    </row>
  </div>

  </body>
{% endblock %}
