{% extends 'layout.html' %}

{% block content %}
  <head>
  <script>
  
  </script>
  </head>
  <body>

<<<<<<<<< Temporary merge branch 1
  <div class="content low-opacity">
    <br>
=========
  <div class="content">
>>>>>>>>> Temporary merge branch 2
    <h1>Note Symbols</h1>
    
    <p>Some notes are meant to be played successively, and are grouped. This leads to new, but equivalent notations:
    </p>
    <br>
    <img src="/static/splitnotes.png" alt="splitting music notes" width="70%">
    <br>
    <br>
    <br>
    <!-- Navigation Buttons -->
    <div class="row">
        <div class="col-md-6">
            <div class="next-button">
                <a href="duration-and-symbols" id="next-button">Back to previous page</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="next-button">
                <a href="duration-and-symbols-pg3" id="next-button">Next page</a>
            </div>
        </div>
    </div>
  </div>

  </body>
{% endblock %}