{% extends 'layout.html' %}

{% block content %}

<body>
    <div class="container low-opacity">
        <h1>Finished learning?</h1>
        <p>Test your knowledge by taking the quiz!</p>
        
        <br>
        <!-- Link to start the quiz -->
    <div class="next-button">
        <a href="quiz1" id="next-button">Start quiz</a>
    </div>
        <!-- Display the current score -->
        <!-- <p>Current Score: <span id="current-score"></span></p>
        <button id="reset-score-btn">Reset Score</button> -->
    </div>

    

    <!-- JavaScript code -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Function to fetch the score from the server and update the HTML element
            function fetchAndUpdateScore() {
                fetch('/score')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to fetch score');
                    }
                    return response.json();
                })
                .then(data => {
                    const currentScore = document.getElementById("current-score");
                    currentScore.textContent = data.score; // Update the score element
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }

            // Function to reset the score
            function resetScore() {
                fetch('/reset-score', {
                    method: 'POST',
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to reset score');
                    }
                    // Once the score is reset, update the displayed score
                    fetchAndUpdateScore();
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }

            // Call the function to fetch and update the score when the page loads
            fetchAndUpdateScore();

            // Attach event listener to the reset button
            document.getElementById("reset-score-btn").addEventListener("click", function() {
                resetScore();
            });
        });
    </script>
</body>
{% endblock %}
