{% extends 'layout.html' %}

{% block content %}

    <div class="container">
        <p>Question 1) Match these songs to the tempo terms by dragging and dropping the videos onto the terms.</p>
        <div class="row">
            <div class="drop-container" id="drop-container-adagio">Adagio</div>
            <div class="drop-container" id="drop-container-andante">Andante</div>
            <div class="drop-container" id="drop-container-allegro">Allegro</div>
        </div>
        <div class="row">
        <iframe class="drop-container" width="420" height="315" src="https://www.youtube.com/embed/02AlIVN0pEA"></iframe>
        <iframe class="drop-container" width="420" height="315" src="https://www.youtube.com/embed/p_ftrysaMHU"></iframe>
        <iframe class="drop-container" width="420" height="315" src="https://www.youtube.com/embed/2-cq6rjs3XY&t=18s"></iframe>
        

    </div>
    <div class="next-button">
        <a href="quiz2">Next</a>
    </div>
{% endblock %}