{% extends 'layout.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elements of Rhythm</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .container {
            padding: 20px;
        }
        .row {
            display: flex;  /* Utilizing Flexbox */
            justify-content: space-around;  /* Even spacing */
            align-items: center;  /* Align vertically */
        }
        .drop-container {
        flex: 1; /* Each container will flexibly take up equal space */
        margin: 10px; /* Margin for spacing between containers */
        text-align: center;
        padding: 20px;
        background-color: #f4f4f4;
        border: 1px solid #ddd;
        box-sizing: border-box;
    }

    .drop-container.dragover {
        background-color: lightblue; /* Change color when item is hovering over */
    }

        .next-button {
            text-align: center;
            margin-top: 20px;
        }
        .next-button a {
            padding: 10px 20px;
            background-color: #8eadd4;
            color: white;
            text-decoration: none;
        }
        .next-button a:hover {
            background-color: #ddd;
            color: black;
        }
    </style>
</head>
<body>

    <!-- Container for quiz content -->
    <div class="container">
        <!-- Display the current score of the user -->
        <p>Current Score: <span id="current-score"></span></p>

        <!-- Quiz question and content -->
            <p>Question 1) Match these songs to the tempo terms by dragging the labels to the drop bins under their corresponding video</video></p>
            <div class="row">
                <div style="display: flex; justify-content: space-around;">
                    <div>
                        <div class="draggable-container" style="text-align: center;">
                            <button class="match-button" id="button-adagio" draggable="true">Adagio</button>
                        </div>
                        <iframe class="video" width="400" height="300" src="https://www.youtube.com/embed/02AlIVN0pEA"></iframe>
                        <div class="drop-container" id="drop-container-1" droppable="true"></div> <!-- Drop container for video 1 -->
                    </div>

                    <div>
                        <div class="draggable-container" style="text-align: center;">
                            <button class="match-button" id="button-andante" draggable="true">Andante</button>
                        </div>
                        <iframe class="video" width="400" height="300" src="https://www.youtube.com/embed/VOLy6JxEDLw"></iframe>
                        <div class="drop-container" id="drop-container-2" droppable="true"></div> <!-- Drop container for video 2 -->
                    </div>

                    <div>
                        <div class="draggable-container" style="text-align: center;">
                            <button class="match-button" id="button-allegro" draggable="true">Allegro</button>
                        </div>
                        <iframe class="video" width="400" height="300" src="https://www.youtube.com/embed/zplA4AnhCk8"></iframe>
                        <div class="drop-container" id="drop-container-3" droppable="true"></div> <!-- Drop container for video 3 -->
                    </div>
                </div>
                
            </div>
            <!-- Next button -->
            <div class="next-button">
                <a href="quiz2" id="next-button">Next</a>
            </div>
                <!-- JavaScript code -->
                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        function fetchAndUpdateScore() {
                            fetch('/score')
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Failed to fetch score');
                                }
                                return response.json();
                            })
                            .then(data => {
                                const currentScore = document.getElementById("current-score");
                                currentScore.textContent = data.score; // Update the score element
                            })
                            .catch(error => {
                                console.error('Error:', error);
                            });
                        }
                
                        function incrementScore() {
                            fetch('/increment-score', {
                                method: 'POST'
                            })
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Failed to increment score');
                                }
                                return response.json();
                            })
                            .then(data => {
                                // If increment successful, fetch and update the score
                                fetchAndUpdateScore();
                            })
                            .catch(error => {
                                console.error('Error:', error);
                            });
                        }
                
                        fetchAndUpdateScore();
                        let droppable = [true, true, true];

                        document.getElementById('button-adagio').addEventListener('dragstart', function(event) {
                        event.dataTransfer.setData('text/plain', 'button-adagio'); // Set the ID of the draggable element
                        });
                        document.getElementById('button-andante').addEventListener('dragstart', function(event) {
                            event.dataTransfer.setData('text/plain', 'button-andante'); // Set the ID of the draggable element
                        });
                        document.getElementById('button-allegro').addEventListener('dragstart', function(event) {
                            event.dataTransfer.setData('text/plain', 'button-allegro'); // Set the ID of the draggable element
                        });
                
                        // Add drag and drop event listeners to drop containers
                    const dropContainers = document.querySelectorAll('.drop-container');
                    dropContainers.forEach((container, index) => {
                        container.addEventListener('dragenter', function(event) {
                            event.preventDefault();
                            if (droppable[index]) {
                                this.style.backgroundColor = 'yellow'; // Change background color on drag enter if droppable
                            }
                        });
            container.addEventListener('dragover', function(event) {
                event.preventDefault();
                if (droppable[index]) {
                    this.style.backgroundColor = 'yellow'; // Change background color on drag over if droppable
                }
            });
            container.addEventListener('dragleave', function() {
                if (droppable[index]) {
                this.style.backgroundColor = '#f4f4f4'; // Reset background color on drag leave
                }
            });
            container.addEventListener('drop', function(event) {
                event.preventDefault();
                if (droppable[index]) {
                    const draggableId = event.dataTransfer.getData("text/plain");
                    if ((draggableId === 'button-adagio' && this.id === 'drop-container-1') ||
                        (draggableId === 'button-andante' && this.id === 'drop-container-2') ||
                        (draggableId === 'button-allegro' && this.id === 'drop-container-3')) {
                        this.style.backgroundColor = 'green'; // Turn container green if correct item dropped
                        incrementScore(); // Increment score if correct item dropped
                        droppable[index] = false; // Set droppable to false after correct drop
                    } else {
                        this.style.backgroundColor = 'red'; // Reset background color if incorrect drop
                    }
                }
            });
        });
    });
                </script>
                

</body>
</html>

{% endblock %}
