{% extends 'layout.html' %}

{% block content %}
<script>
    function toggleAnnotation() {
        var image = document.getElementById('beatsImage');
        var button = document.getElementById('annotate');
        var explanationText = document.getElementById('explanationText');
        var buttonText = document.getElementById('buttonText');
        
        if (button.textContent === "Annotate") {
            // Change the image to the annotated version
            image.src = "/static/updownafter.png";
            image.alt = "beats with red and blue lines";
            // Update the button text to "Unannotate"
            button.textContent = "Unannotate";
            // Show the explanation text
            explanationText.style.display = "block";
            buttonText.textContent = "Click the button below to see the unannotated picture.";
        } else {
            // Revert the image to the original
            image.src = "/static/updownbefore.png";
            image.alt = "beats";
            // Reset the button text to "Annotate"
            button.textContent = "Annotate";
            // Hide the explanation text
            explanationText.style.display = "none";
            buttonText.textContent = "Click the button below to see the annotations for upbeats and downbeats.";
        }
    }
</script>

<div class="content">
    <h1>Subdividing</h1>
    <p>Subdividing is: Breaking the notes in a set of beats such that all notes are expressed in terms of the smallest value present in the set. This gives you a deeper understanding on what notes are played when.</p>
    <p>For the basics: We can divide each beat into 2 parts ie eighth notes: up and down beat</p>
    <img id="beatsImage" src="/static/updownbefore.png" alt="beats" width="500px">
    <p id="explanationText" style="display: none;"><span style="color: blue;">Blue</span> lines indicate upbeats, <span style="color: red;">red</span> lines indicate downbeats.</p>
    <p id="buttonText">Click the button below to see the annotations for upbeats and downbeats.</p>
    <button id="annotate" onclick="toggleAnnotation()">Annotate</button>
    <br>
    <br>
    <br>
    <!-- Navigation Buttons -->
    <div class="row">
        <div class="col-md-6">
            <div class="next-button">
                <a href="duration-and-symbols" id="next-button">Back</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="next-button">
                <a href="subdividing-pg2" id="next-button">Next page</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
