{% extends 'layout.html' %}

{% block content %}
  <head>
  <script>
  
  </script>
  </head>
  <body>

  <div class="content">
    <h2>Time Signatures</h2>
    
    <p>Simple meters are where each beat can be divided by 2.</p>
    <br>
    <img src="/static/simplemeter.png" alt="simple time signature" width="40%">
    <br>
    <br>
    
    <p>The time signature in the image can be translated to "two quarter-note beats per measure."</p>
    <br>
    <br>
    <br>
    <!-- Navigation Buttons -->
    <div class="row">
        <div class="col-md-6">
            <div class="next-button">
                <a href="timesignature" id="next-button">Back to previous page</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="next-button">
                <a href="timesignature-pg3" id="next-button">Next page</a>
            </div>
        </div>
    </div>
  </div>

  </body>
{% endblock %}