{% extends 'layout.html' %}

{% block content %}
<head>
    <script>
      function showAnswer() {
        document.getElementById('answer').style.display = 'block';
        document.getElementById('show-answer-btn').style.display = 'none';
      }
    </script>
    <style>
      #answer {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

  <div class="content">
    <h2>Time Signatures</h2>
    
    <p>Compound meters are where each beat can be divided by 3.</p>
    <br>
    <img src="/static/compoundmeter.png" alt="simple time signature" width="40%">
    <br>
    <br>
    <p>Can you guess what this time signature can be translated to?</p>
    <button id="show-answer-btn" onclick="showAnswer()">Show the answer</button>
    <p id="answer" style="display:none;">The time signature in the image can be translated to "six eighth-note beats per measure."</p>
    <br>
    <br>
    <br>
    <!-- Navigation Buttons -->
    <div class="row">
        <div class="col-md-6">
            <div class="next-button">
                <a href="timesignature-pg2" id="next-button">Back to previous page</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="next-button">
                <a href="quiz" id="next-button">Next section</a>
            </div>
        </div>
    </div>
  </div>

  </body>
{% endblock %}