{% extends 'layout.html' %}

{% block content %}
  <head>
  <script>
  
  </script>
  </head>
  <body>

  <div class="content">
    <h2>Time Signatures</h2>
    
    <p>A time signature is a musical symbol which will tell the performer how many beats will occur in each measure, what note value will represent the beat, and whether the beat is simple or compound.</p>
    <p>Time signatures have two components: the top number and the bottom number.  </p>
    <br>
    <img src="/static/timesignature.jpg" alt="time signature" width="50%">
    <br>
    <br>
    <br>
    <!-- Navigation Buttons -->
    <div class="row">
        <div class="col-md-6">
            <div class="next-button">
                <a href="duration-and-symbols" id="next-button">Back to previous page</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="next-button">
                <a href="timesignature-pg2" id="next-button">Next page</a>
            </div>
        </div>
    </div>
  </div>

  </body>
{% endblock %}